<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Brian Pick
        <small>Full-Stack Web Developer</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Experience</h2>
      <h4><u>The Difference Engine</u></h4>
      <p>Web Developer - Apprenticeship<br> 
         San Francisco, CA | February 2017 - Present<br>
         ● Working with non-profit companies to optimize or create features on their web applications<br>
         ● Produced and Implemented web features from start to finish<br>
         ● Developed strategies to explain features in non-technological terms<br>
         ● Utilized industry standards to release updated or new features
         <br>

      <h4><u>7-Eleven</u></h4>
      <p>Franchisee<br>
         San Francisco, CA | March 2012 - Present<br>
         ● Managed the growth strategies of a high volume convenience store<br>
         ● Optimized schedules and facilitated store operations to identify new revenue channels and maximize profits<br>
         ● Consistent annual growth of 4% during oversight<br>
         ● Executed corporate schematic objectives and leveraged high value customers to increase store margins<br>
         ● Utilized shopper marketing insights to adjust product placements- directly led to a growth of 21%<br>
         ● Created four step plans to overcome weaknesses in targeted areas<br>
         ● Implemented employee goals to be hit on a daily/weekly/monthly basis
      </p>
      <h4><u>Easter Seals Bay Area</u></h4>
      <p>Behavior Therapist<br>
         ● Worked with clients to assist in building and facilitating relationships<br>
         ● Developed learning plans, adapted lesson plans<br>
         ● Worked with influencers to encourage positive behaviors aligned with client goals<br>
         ● Created novel ways for clients to reach their goals in normal life situations
      </p>
      <h4><u>YMCA of San Francisco</u></h4>
      <p>Youth Sports Lead<br>
         ● Created practice programs for youth teams to facilitate team building and skill development<br>
         ● Managed event operations for youth camps<br>
         ● Worked directly with clients to understand goals and create action plan
      </p>
      <h4><u>GameStop</u></h4>
      <p>Game Advisor<br>
         ● Informed and assisted customers on product insights to choose appropriate products<br>
         ● Administered and contributed to store layout strategies in line with promotional campaigns<br>
         ● Created strategies to promote sales of target items 
      </p>
      <hr>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
    <div class="col-md-4">
    <h3>Skills</h3>
    <ul>
      <li>AngularJS</li>
      <li>CSS</li>
      <li>Git</li>
      <li>HTML</li>
      <li>JavaScript</li> 
      <li>PostgreSQL</li>
      <li>Rails</li>
      <li>Ruby</li> 
      <li>SQL</li>
    </ul>
    <hr>
    <h3>Education</h3>
    <ul>
      <li>Actualize - Full-Stack Web Developer | 2016 - 2017<br>
          15-week full-stack web development training</li>
      <li>San Francisco State University<br>
          Bachelor of Arts in Psychology       | 2009-2012</li>
      <li>Las Positas College<br>
          Associate of Arts                    | 2006-2009</li>
    </ul>
    <hr>
    <h3>Contact</h3>
    <p>
    <a href="mailto:brianr.pick@gmail.com">Email</a><br>
    <a href="github.com/brianrpick">GitHub</a><br>
    <a href="linkedin.com/in/brianrpick">Linkedin</a><br>
    </p>
    <hr>





</div>