<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Brian Pick
        <small>Full-Stack Web Developer</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Experience</h2>
      <h4><u>The Difference Engine</u></h4>
      <p>Web Developer - Apprenticeship<br> 
          San Francisco, CA | February 2017 - Present


      <h4><u>Actualize</h4></u>
      <p>Full-Stack Web Developer<br>
          San Francisco, CA | 2016 - 2017<br>
          ● 15-week full-stack web development training learning Ruby on Rails, JavaScript, etc.<br>
          ● Worked in teams and learned to pair program<br>
          ● Completed daily coding exercises<br>
          ● Built a fully functional web app, Money Watch, from scratch
      </p>
      <h3>Project Details</h3>
    </div>
    <div class="col-md-4">
    <h3>Skills</h3>
    <ul>
      <li>JavaScript</li> 
      <li>AngularJS</li>
      <li>Ruby</li> 
      <li>Rails</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>PostgreSQL</li>
      <li>SQL</li>
      <li>Git</li>
    </ul>
    <hr>
    <h3>Education</h3>
    <ul>
      <li>Actualize - Full-Stack Web Developer | 2016</li>
      <li>San Francisco State University<br>
          Bachelor of Arts in Psychology | 2009-2012</li>
      <li>Las Positas Community College<br>
          Associate of Arts and Science | 2006-2009</li>
    </ul>
    <hr>






</div>