<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Major Projects
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a href="/sfcrime">
        <img class="img-responsive" src="https://i.imgur.com/YYlF29h.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><a href="/sfcrime">SF Crime Data</a></h3>
      <h4>Helping Colleges Report Crimes in their Area</h4>
      <h5>Code for SF Project<h5>
      <h5>Single Page Design</h5>
      <a class="btn btn-primary" href="/sfcrime">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <hr>
  <hr>
  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="/amazi">
        <img class="img-responsive" src="https://i.imgur.com/64WsWcC.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><a href="/amazi">Amazi</a></h3>
      <h4>Alternative to Bottled Water </h4>
      <h5>Difference Engine Project<h5>
      <h5>Mobile First Design</h5>
      <a class="btn btn-primary" href="/amazi">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <hr>
  <hr>
  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
        <a href="/moneywatch">
            <img class="img-responsive" src="http://i.imgur.com/5ptC2PJ.png" alt="" href="/moneywatch">
        </a>
    </div>
    <div class="col-md-5">
      <h3>Money Watch</h3>
      <h4><u>Budgiting Application</u></h4>
      <h5>Personal Project</h5>
      <h5>Made from scratch</h5>

      <a class="btn btn-primary" href="/moneywatch">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Side Projects
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <h3><a href="/sfcrime">RGB Color Game</a></h3>
      <a href="/rgbgame">
        <img class="img-responsive" src="https://i.imgur.com/Kcd4xcT.png" alt="">
      </a>
    </div>
    <div class="col-md-6">
      <h3><a href="/sfcrime">Sliding Puzzle Game</a></h3>
      <a href="/slidingpuzzle">
        <img class="img-responsive" src="https://i.imgur.com/jzn5fEQ.png" alt="">
      </a>
    </div>
  </div>
</div>












