<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Projects
        <small></small>
      </h1>
    </div>
  </div>
  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="/amazi">
        <img class="img-responsive" src="http://i.imgur.com/Z7Qlqdn.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><a href="https://qa-amazi.herokuapp.com">Amazi</a></h3>
      <h4>Water Location App</h4>
      <p>Difference Engine Project</p>
      <h5>Mobile First Design</h5>
      <a class="btn btn-primary" href="/amazi">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <hr>
  <hr>
  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
        <a href="/moneywatch">
            <img class="img-responsive" src="http://i.imgur.com/5ptC2PJ.png" alt="">
        </a>
    </div>
    <div class="col-md-5">
      <h3>Money Watch</h3>
      <h4><u>Budgiting Application</u></h4>
      <h5>Personal Project</h5>
      <h5>Made from scratch</h5>

      <a class="btn btn-primary" href="/moneywatch">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>

  <hr>
</div>