<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><a href="https://sfcrimedata.org">SF Crime Data</a>
        <small><u>Crime reporting for Colleges</u></small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://i.imgur.com/YYlF29h.png" alt="">
        </div>
        <div class="item">
          <img src="https://i.imgur.com/vYUMmb9.png" alt="">
        </div>
<!--         <div class="item">
          <img src="https://i.imgur.com/M1JsK21.png" alt="">
        </div> -->
<!--    <div class="item">
          <img src="http://i.imgur.com/kpXlcaF.png" alt="Calendar">
        </div> -->
      </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <h3>Project Description</h3>
      <p>SF Crime Data was built to help the slow and costly process that colleges and their students must endure in the application process. Using this app allows colleges to quickly report the crimes in the area with the ability to export the information into a PDF.</p>
      <h3>Project Details</h3>
      <ul>
          <li>Single Page Design</li>
          <li>MapBox API</li>
          <li>SF OpendData API</li>
      </ul>
      <a class="btn btn-primary" href="www.sfcrimedata.org">View Live Project <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>