<div ng-app="app">
  <div ng-controller="toDoCtrl">
    <div id="tasks">
    <h1> To Do! </h1>
      <li ng-repeat="task in tasks" ng-click="showUp(task)" ng-class="{complete: task.completed}">
        {{ task.text }}

      </li>
    </div>
    <input ng-model="newTasktext">
    <button ng-click="addTask(newTasktext)">Add your task:</button>
    <h3>{{ incomplete.length }} Tasks Left <button ng-click="allDone()">All</button> <button ng-click="allDone()">Active</button> <button ng-click="">Completed</button> <button ng-click="allDone()">Clear Completed</button> </h3>
  </div>
</div>

